Task1and2/target/classes/commens.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="comments" doc:id="223664dd-b809-4763-8b35-57be044bb29f" >
		<http:listener doc:name="Listener" doc:id="cb527946-fe65-4344-b36b-48adaed48f16" path="/comments1" config-ref="HTTP_Listener_config"/>
		<choice doc:name="Choice" doc:id="caa91313-f844-47e9-8f39-fe3c36df12b7" >
			<when expression="#[attributes.queryParams.postId == null]">
				<flow-ref doc:name="/comments" doc:id="d3595d61-dd8a-4607-ae48-3e61169ad9cf" name="noParams"/>
			</when>
			<when expression="#[attributes.queryParams.postId != null]">
				<flow-ref doc:name="/comments?" doc:id="a1869692-17e3-47ae-8c11-03e32b449789" name="Params"/>
			</when>
			<otherwise >
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a8cb633f-e01c-42e0-b173-a0a23bdb7381" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="28bb2ebc-8675-4b6a-94bc-a5e128162e5e" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="89902994-2a33-45f4-a8c5-c67115d0bae1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	 "Message":error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="noParams" doc:id="2f410a59-86b7-4254-8c3e-7277fbec836a" >
		<http:request method="GET" doc:name="Request" doc:id="ed00d35b-a4c7-40d5-93b9-dd94426066a5" path="/comments" config-ref="HTTP_Request_configuration"/>
		<ee:transform doc:name="Transform Message" doc:id="e890b577-50ab-4da7-bcae-2c1c3b758638" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map
{
	postId:$.postId,
	id:$.id,
	name:$.name,
	email:$.email,
	body: $.body
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="540a5263-fc9c-48c9-8088-d97365c36f2f" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into comments(postId,id,name,email,body) values(:postId,:id,:name,:email,:body);]]></db:sql>
		</db:bulk-insert>
	</flow>
	<flow name="Params" doc:id="b393c863-b159-46bf-99b6-b6e109a5f448" >
		<http:request method="GET" doc:name="Request" doc:id="5dd9c126-0a3c-4ac7-a797-bba17bcd436f" path="/comments" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	id : attributes.queryParams.postId
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="Add-User" doc:id="26903b45-da81-4c51-a462-a10a6a588b92" >
		<http:listener doc:name="Listener" doc:id="4ea4fe9f-cc58-407b-b168-80ce68345b3a" path="/posts" allowedMethods="POST" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="e2cb4b83-40cf-4b4b-88e8-70889ce3a21a" variableName="payloadBackup"/>
		<http:request method="POST" doc:name="Request" doc:id="e7cb4e50-5169-47d0-9e8b-547f14c53770" path="/posts" config-ref="HTTP_Request_configuration">
			<http:body ><![CDATA[#[vars.payloadBackup]]]></http:body>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="df30b593-857e-4916-ae23-2c79183cd113" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map
{
	userId:$.userId,
	id:$.id,
	title:$.title,
	body: $.body
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="bd01bdc7-fc4b-4024-8b2d-b1192e0f1217" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into posts(userId,id,title,body) values(:userId,:id,:title,:body);]]></db:sql>
		</db:insert>
	</flow>
</mule>
